body{
    background-color: black;
    color:white
}

header{
    text-align: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

img{
    width:15%;
}